<div class="container">
  <h3 mat-dialog-title>Issue id: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Description" [(ngModel)]="data.description" name="description" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Months" [(ngModel)]="data.insuranceTime" name="months">
      </mat-form-field>
  </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Price" [(ngModel)]="data.price" name="price">
      </mat-form-field>
    </div>
    <div class="form">
      <!-- <mat-form-field color="accent">
        <input matInput placeholder="Created at" [(ngModel)]="data.intialDate" name="intialDate" required> 
      </mat-form-field> -->
      <mat-form-field>
        <input matInput [matDatepicker] = "picker" placeholder = "Choose a date" [(ngModel)]="data.intialDate" name="intialDate">
        <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <mat-select placeholder="Select type of insurance" name="insurance_level" 
        
        [(ngModel)]="_idSeleccionado" >
          <mat-option *ngFor="let tp of _insurancesTypes" [value]="tp.InsurancesTypeId" >{{ tp.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Risk" [(ngModel)]="data.risk" name="risk">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
